* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: #F4EEFF;
    font-family: 'Jost', sans-serif;
}

header {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 125px;
    background-color: #A6B1E1;
}

#one {
    position: relative;
}

#three {
    position: relative;
}

#seven {
    position: relative;
}

#nine {
    position: relative;
}

#five {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__section {
    margin: 10px;
}

.header__section button {
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 35px;
    margin: 0 5px;
    background-color: #424874;
    color: white;
    font-size: 16px;
}

button {
    background-color: white;
    cursor: pointer;
}

.cube button {
    border: none;
    position: absolute;
    border-radius: 15%;
    background-color: transparent;
    outline: none;
    transition-duration: 0.4s;
}

.button__top-row-left {
    height: 56px;
    width: 10px;
    left: 1px;
    top: 13px;
}

.button__top-row-right {
    height: 56px;
    width: 10px;
    right: 1px;
    top: 13px;
}

.button__bottom-row-right {
    height: 56px;
    width: 10px;
    right: 1px;
    bottom: 13px;
}

.button__bottom-row-left {
    height: 56px;
    width: 10px;
    left: 1px;
    bottom: 13px;
}

.button__row:hover {
    cursor: pointer;
    background-color: gray;
    border: 2px solid black;
    width: 30px;
    opacity: 0.3;
    z-index: 2;
}

.button__left-column-up{
    height: 10px;
    width: 56px;
    left: 13px;
    top: 1px;
}

.button__right-column-up {
    height: 10px;
    width: 56px;
    right: 13px;
    top: 1px;
}

.button__right-column-down {
    height: 10px;
    width: 56px;
    right: 13px;
    bottom: 1px;
}

.button__left-column-down {
    height: 10px;
    width: 56px;
    left: 13px;
    bottom: 1px;
}

.button__column:hover {
    cursor: pointer;
    background-color: gray;
    border: 2px solid black;
    height: 30px;
    opacity: 0.3;
    z-index: 2;
}
  
.help-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 125px;
}

.outside-container {
    display: flex;
    align-items: center;
}

.cube {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 225px;
    background-color: black;
    border-radius: 3%;
    margin: 5px;
}
  
.col {
    flex-direction: column;
  }
  
.cube-square{
    width: 75px;
    height: 75px;
    background-color: green;
    border: 2px solid black;
    border-radius: 10%;
}

.cube-left {
    text-align: right;
}

.gg-arrow-down-o, .gg-arrow-up-o {
    display: block;
    background-color: #A6B1E1;
    margin: 0 3px;
}

.gg-arrow-left-o, .gg-arrow-right-o {
    background-color: #A6B1E1;
    margin: 0 3px;
}

.gg-undo, .gg-redo {
    margin: 0 3px;
}

.gg-arrow-down-o:hover, .gg-arrow-up-o:hover, .gg-arrow-right-o:hover, .gg-arrow-left-o:hover {
    cursor: pointer;
    background-color: #DCD6F7;
}

.gg-undo:hover, .gg-redo:hover {
    cursor: pointer;
    background-color: white;
}


.cube-right {
    text-align: left;
}

.cube-top {
    display: flex;
    flex-direction: column;
}

.div__i--spin-cube {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cube-top p {
    margin: 0 5px;
}

.cube-bottom {
    display: flex;
}

.cube-bottom p {
    margin: 0 5px;
}

.small-cubes {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    width: 210px;
    text-align: center;
}

.center-cubes {
    display: flex;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 51px;
    width: 51.5px;
}

.small-box {
    height: 16.5px;
    width: 16.5px;
    border: 1px solid black;
}

.fas, .fab {
    margin: 10px;
    padding: 10px;
}


.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

/* .small-box {
    width: 40px;
    height: 40px;
    background-color: green;
    border: 1px solid black;
}

.small-four {
    display: flex;

}

aside {
    background-color: black;
    position: absolute;
    left: 20px;
    top: 250px;
}

#one {
    background-color: white;
}

#two {
    background-color: red;
}

#three {
    background-color: green;
}

#four {
    background-color: orange;
}

#five {
    background-color: blue;
}

#six {
    background-color: yellow;
} */