*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* flex-direction: column; */
    /* width: 100vw; */
    background-color: blanchedalmond;
}
.trial {
    position: absolute;
    left: 0;
    bottom: 150px;
    background-color: crimson;
}

.small-square {
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    flex-direction: row; */
    /* flex-wrap: wrap; */
    width: 5px;
    height: 5px;
    background-color: cyan;
}

.section__square {
    width: 10vh;
    height: 10vh;
    /* margin-bottom: 5px; */
    /* margin-right: 5px; */
    border: 2px solid black;
    display: inline-block;
}

.cube{
    display: flex;
    flex-direction: column;
}

.right-side {
    display: flex;
    flex-direction: column;
}

.left-side {
    display: flex;
    flex-direction: column;
}

#one{
    background-color: cornflowerblue;
}

#two{
    background-color: cornflowerblue;
}

#three{
    background-color: cornflowerblue;
}

#four{
    background-color: cornflowerblue;
}

#five{
    background-color: cornflowerblue;
}

#six{
    background-color: cornflowerblue;
}

#seven{
    background-color: cornflowerblue;
}

#eight{
    background-color: cornflowerblue;
}

#nine{
    background-color: cornflowerblue;
}